.background {
    background-image: url('https://bizraise.pro/wp-content/uploads/2014/09/simple-and-clear-widescreen-2560x1600-hd-desktop-wallpapers.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 100px;
    padding-bottom: 781px;

}